@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --Black: hsl(0, 0%, 0%);
  --Dark-gray: hsl(0, 0%, 48%);
  --Moderate-cyan: hsl(176, 50%, 47%);
  --Dark-cyan: hsl(176, 72%, 28%)
}
body {
  margin: 0;
  font-family: 'Commissioner', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(226, 225, 225);
}
.dark-gray{
  color: var(--Dark-gray);
}
.dark-gray-bg{
  background-color: var(--Dark-gray);
}
.moderate-cyan{
  color: var(--Moderate-cyan);
}
.moderate-cyan-bg{
  background-color: var(--Moderate-cyan);
}
.dark-cyan{
  color: var(--dark-cyan);
}
.dark-cyan-bg{
  background-color: var(--dark-cyan);
}
